# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/Site/dist
/Site/tmp
/Site/out-tsc
/Site/bazel-out

# Node
/node_modules
/Site/node_modules
/API/node_modules
/Site/npm-debug.log
/Site/yarn-error.log

# Logs
/API/logs
/API/*.log
/API/npm-debug.log*
/API/yarn-debug.log*
/API/yarn-error.log*
/API/lerna-debug.log*
/API/.pnpm-debug.log*

# IDEs and editors
/Site/.idea/
/Site/.project
/Site/.classpath
/Site/.c9/
/Site/*.launch
/Site/.settings/
/Site/*.sublime-workspace

# Visual Studio Code
/Site/.vscode/*
/Site/!.vscode/settings.json
/Site/!.vscode/tasks.json
/Site/!.vscode/launch.json
/Site/!.vscode/extensions.json
/Site/.history/*

# Miscellaneous
/Site/.angular/cache
/Site/.sass-cache/
/Site/connect.lock
/Site/coverage
/Site/libpeerconnection.log
/Site/testem.log
/Site/typings

# System files
.DS_Store
Thumbs.db
