<section class="page-section" id="contact" style="margin-top: 100px;">
    <div class="container">
        <div class="divider-custom">
            <a routerLink="/form-clientes" class="btn btn-primary ">Adicionar novo</a>
            <!-- <button class="btn btn-primary" (click)="novoCliente()">Adicionar novo</button> -->
        </div>
        <div class="row ">
            <div class="col-lg-8 col-xl-7">
              <div *ngIf="produtos && produtos.length == 0" class="alert alert-primary" role="alert">
                  Não existe clientes cadastrados
              </div>
              <table *ngIf="produtos && produtos.length > 0" class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Valor</th>
                      <th scope="col" colspan="2">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let produto of produtos">
                      <th scope="row">{{produto.id}}</th>
                      <td>{{produto.nome}}</td>
                      <td>{{produto.descricao}}</td>
                      <td>{{produto.valor}}</td>
                      <td><a class="btn btn-warning" routerLink="/form-clientes/{{produto.id}}">Alterar</a></td>
                      <td><button class="btn btn-danger" (click)="excluir(produto)">Excluir</button></td>
                      <!-- <td><button class="btn btn-danger" [disabled]="!logadoService.adm" (click)="excluir(cliente)">Excluir</button></td> -->
                    </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</section>
