<section class="page-section" id="contact" style="margin-top: 100px;">
    <div class="container">
        <div>
            <div style="display: inline;">
                Seleção de data 1
            </div>
            <div style="display: inline;">
                Seleção de data 2
            </div>
        </div>
        <hr>
        <div class = "row">
            Tabela de risco aqui
        </div>
        <hr>
        <div class="row ">
            <div class="col-lg-8 col-xl-7">
            <div *ngIf="pedidos && pedidos.length == 0" class="alert alert-primary" role="alert">
                Não existe pedidos cadastrados
            </div>
            <table *ngIf="pedidos && pedidos.length > 0" class="table">
                <thead>
                    <tr>
                    <th scope="col">ID do pedido</th>
                    <th scope="col">ID do cliente</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of pedidos">
                    <th scope="row">{{pedido.id}}</th>
                    <td>{{pedido.cliente_id}}</td>
                    <td>{{number(pedido.valor_total) | currency}}</td>
                    <td>{{pedido.data}}</td>
                    
                    <!-- <td><button class="btn btn-danger" [disabled]="!logadoService.adm" (click)="excluir(cliente)">Excluir</button></td> -->
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</section>